@{
    ViewBag.Title = "Home Page";
}

<link href="~/style/HomePage.css" rel="stylesheet" />

<div style="text-align: center;display:block;"><img src="~/style/wish_list.gif" style="width:200px;height:100px;"/></div>
<div class="form-group" style="padding-top:30px;">
    <input style="border-radius: 10px 10px 10px 10px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter url" onkeydown="SetToDB(this)">
    <small id="emailHelp" class="form-text text-muted">Enter the address here to save this product to wishlist.</small>
</div>
<div>
    <h2 style="visibility:hidden">Done</h2>
</div>
@{Html.RenderAction("GetItems", "Items"); }
<script>
    function SetToDB(element) {
        debugger;
        if (event.key === 'Enter') {
            var val = element.value;
            window.location.href = '@Url.Action("Set", "Items")'+'?url=' + val;
        }
    }
</script>
