
@{
    ViewBag.Title = "DublicateItem";
}

<h2>you try add dublicate url</h2>

<script>
    window.onload = function () {
        setTimeout(func, 3000);
        function func() {
            window.location.href = "../Home/Index";
        }
    }
</script>