
@{
    ViewBag.Title = "GetItems";
    var list = ViewBag.ListItems;
}
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="~/style/Items.css" rel="stylesheet" />

<div class="row">

    @foreach (var item in list)
    {
        <div class="col-sm-9 field"><a href="@item.Url">@item.Title</a></div>

        <div class="dropdown col-sm-3">
            <button style="text-align:left" class="CostAndDate btn dropdown-toggle" type="button" data-toggle="dropdown">
                Prise & date
            </button>
            <ul class="dropdown-menu">
                @foreach (var costAndDate in item.PriceDetails)
                {
                    <li class="liField">Prise: @costAndDate.Price Date:@costAndDate.DateTimeNow</li>
                }
            </ul>
        </div>
    }
</div>

