
@{
    ViewBag.Title = "NotSupportedSite";
}

<h1>This site is not yet supported</h1>

<a href="../Home/Index">please go back to home page</a>

<script>
    window.onload = function () {
        setTimeout(func, 3000);
        function func() {
            window.location.href = "../Home/Index";
        }
    }
</script>