
@{
    ViewBag.Title = "WrongUrl";
}

<h2>Sorry - you set wrong url</h2>

<script>
    window.onload = function () {
        setTimeout(func, 3000);
        function func() {
            window.location.href = "../Home/Index";
        }
    }
</script>