<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=WishList;User ID=sa;Password=!Q@W#E4r5t6y" />
    <!--<add name="ConnStringDb" connectionString="Data Source=(local);Initial Catalog=WishList;Integrated Security=True; User ID=sa;Password=!Q@W#E4r5t6y" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>