<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="WishList" connectionString="Data Source=localhost;Initial Catalog=WishList;User ID=sa;Password=!Q@W#E4r5t6y" />
  </connectionStrings>
  <appSettings>
    <add key="interval" value="1" />
  </appSettings>
 
</configuration>